@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background-color: bisque;
}

nav {
    background-color: white;
    line-height: 120px;
    flex: 3;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    padding-right: 35px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}

header {
    display: flex;
    background-color: white;
    display: flex;
    justify-content: center;
}

.center {
    width: 70%;
    display: flex;
}

.container-logo {
    flex: 1;
    display: flex;
    background-color: white;
    align-items: center;
}

.brand {
    font-size: 24px;
    padding-left: 15px;
}

.logo {
    animation: rotate 2s linear infinite;
    transform-origin: center;
    height: 55px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}